<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WJTX-MAN-01.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-02.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{150,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-03.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{299,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-04.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{448,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-05.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{597,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-06.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{746,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-07.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1,150},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-08.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{150,150},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-09.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{299,150},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-10.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{448,150},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-11.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{597,150},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-12.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{746,150},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-13.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1,299},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-14.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{150,299},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-15.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{299,299},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-16.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{448,299},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-17.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{597,299},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-18.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{746,299},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-19.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1,448},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-20.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{150,448},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-21.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{299,448},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-22.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{448,448},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-23.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{597,448},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-24.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{746,448},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-25.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1,597},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-26.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{150,597},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-27.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{299,597},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-28.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{448,597},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-29.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{597,597},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-30.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{746,597},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-31.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1,746},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-32.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{150,746},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-33.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{299,746},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-34.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{448,746},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-35.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{597,746},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-36.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{746,746},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-37.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1,895},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-38.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{150,895},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-39.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{299,895},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-40.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{448,895},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-41.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{597,895},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-42.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{746,895},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-43.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1,1044},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-44.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{150,1044},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-45.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{299,1044},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-46.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{448,1044},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-47.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{597,1044},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-48.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{746,1044},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-49.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1,1193},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-50.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{150,1193},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-51.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{299,1193},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-52.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{448,1193},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-53.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{597,1193},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WJTX-MAN-54.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{746,1193},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Avatar_02.png</string>
            <key>size</key>
            <string>{894,1341}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66fe3694f5fce1f9651e3e04565a2f94:35b1e1ae9b2ec544af01df10d863863c:7dcce487b04117ddbdeb04534df8a386$</string>
            <key>textureFileName</key>
            <string>Avatar_02.png</string>
        </dict>
    </dict>
</plist>
