<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Backrupt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,71}</string>
                <key>spriteSourceSize</key>
                <string>{113,71}</string>
                <key>textureRect</key>
                <string>{{240,589},{113,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Canceal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{1,325},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{1,479},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Unmanaged.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,83}</string>
                <key>spriteSourceSize</key>
                <string>{268,83}</string>
                <key>textureRect</key>
                <string>{{1,240},{268,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dealer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,62}</string>
                <key>textureRect</key>
                <string>{{355,644},{64,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dice_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{744,557},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dice_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{787,557},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dice_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{744,604},{41,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dice_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{791,604},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dice_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{734,647},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dice_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{777,651},{41,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,170}</string>
                <key>spriteSourceSize</key>
                <string>{129,170}</string>
                <key>textureRect</key>
                <string>{{347,279},{129,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Listen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,42}</string>
                <key>spriteSourceSize</key>
                <string>{87,42}</string>
                <key>textureRect</key>
                <string>{{711,128},{87,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Listen_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,94}</string>
                <key>spriteSourceSize</key>
                <string>{79,94}</string>
                <key>textureRect</key>
                <string>{{545,220},{79,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ_Word_Blank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,106}</string>
                <key>spriteSourceSize</key>
                <string>{79,106}</string>
                <key>textureRect</key>
                <string>{{355,563},{79,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ_Word_East.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,92}</string>
                <key>spriteSourceSize</key>
                <string>{73,92}</string>
                <key>textureRect</key>
                <string>{{560,578},{73,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_Word_Eight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,108}</string>
                <key>spriteSourceSize</key>
                <string>{55,108}</string>
                <key>textureRect</key>
                <string>{{488,175},{55,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_Word_Five.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,111}</string>
                <key>spriteSourceSize</key>
                <string>{53,111}</string>
                <key>textureRect</key>
                <string>{{507,451},{53,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_Word_Four.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,107}</string>
                <key>spriteSourceSize</key>
                <string>{51,107}</string>
                <key>textureRect</key>
                <string>{{535,374},{51,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ_Word_Nine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,112}</string>
                <key>spriteSourceSize</key>
                <string>{55,112}</string>
                <key>textureRect</key>
                <string>{{478,285},{55,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_Word_North.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{641,220},{80,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ_Word_One.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,97}</string>
                <key>spriteSourceSize</key>
                <string>{52,97}</string>
                <key>textureRect</key>
                <string>{{635,535},{52,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_Word_Seven.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,110}</string>
                <key>spriteSourceSize</key>
                <string>{55,110}</string>
                <key>textureRect</key>
                <string>{{539,72},{55,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ_Word_Six.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,109}</string>
                <key>spriteSourceSize</key>
                <string>{51,109}</string>
                <key>textureRect</key>
                <string>{{419,649},{51,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ_Word_South.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,89}</string>
                <key>spriteSourceSize</key>
                <string>{71,89}</string>
                <key>textureRect</key>
                <string>{{638,129},{71,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_Word_Three.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,108}</string>
                <key>spriteSourceSize</key>
                <string>{54,108}</string>
                <key>textureRect</key>
                <string>{{651,72},{54,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ_Word_Two.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,106}</string>
                <key>spriteSourceSize</key>
                <string>{53,106}</string>
                <key>textureRect</key>
                <string>{{633,427},{53,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_Word_West.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,73}</string>
                <key>spriteSourceSize</key>
                <string>{75,73}</string>
                <key>textureRect</key>
                <string>{{1,633},{75,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MJ_Word_fa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,89}</string>
                <key>spriteSourceSize</key>
                <string>{91,89}</string>
                <key>textureRect</key>
                <string>{{545,129},{91,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_Word_zhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,99}</string>
                <key>spriteSourceSize</key>
                <string>{69,99}</string>
                <key>textureRect</key>
                <string>{{562,427},{69,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mahjong_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,89}</string>
                <key>spriteSourceSize</key>
                <string>{67,89}</string>
                <key>textureRect</key>
                <string>{{719,219},{67,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mahjong_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{804,336},{40,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mahjong_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,158}</string>
                <key>spriteSourceSize</key>
                <string>{110,158}</string>
                <key>textureRect</key>
                <string>{{347,451},{110,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mahjong_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,91}</string>
                <key>spriteSourceSize</key>
                <string>{66,91}</string>
                <key>textureRect</key>
                <string>{{126,642},{66,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mahjong_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,102}</string>
                <key>spriteSourceSize</key>
                <string>{71,102}</string>
                <key>textureRect</key>
                <string>{{243,516},{71,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mahjong_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,102}</string>
                <key>spriteSourceSize</key>
                <string>{71,102}</string>
                <key>textureRect</key>
                <string>{{535,301},{71,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mahjong_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,83}</string>
                <key>spriteSourceSize</key>
                <string>{95,83}</string>
                <key>textureRect</key>
                <string>{{155,545},{95,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mahjong_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,83}</string>
                <key>spriteSourceSize</key>
                <string>{95,83}</string>
                <key>textureRect</key>
                <string>{{463,564},{95,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mahjong_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,67}</string>
                <key>spriteSourceSize</key>
                <string>{81,67}</string>
                <key>textureRect</key>
                <string>{{765,1},{81,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mahjong_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,67}</string>
                <key>spriteSourceSize</key>
                <string>{81,67}</string>
                <key>textureRect</key>
                <string>{{765,70},{81,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mahjong_Prompt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,12}</string>
                <key>spriteSourceSize</key>
                <string>{55,12}</string>
                <key>textureRect</key>
                <string>{{517,87},{55,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mask-Black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{478,399},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,237}</string>
                <key>spriteSourceSize</key>
                <string>{294,237}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plate_East.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,84}</string>
                <key>spriteSourceSize</key>
                <string>{240,84}</string>
                <key>textureRect</key>
                <string>{{297,1},{240,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plate_North.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,189}</string>
                <key>spriteSourceSize</key>
                <string>{102,189}</string>
                <key>textureRect</key>
                <string>{{297,175},{102,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Plate_South.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,189}</string>
                <key>spriteSourceSize</key>
                <string>{102,189}</string>
                <key>textureRect</key>
                <string>{{243,325},{102,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plate_West.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,69}</string>
                <key>spriteSourceSize</key>
                <string>{224,69}</string>
                <key>textureRect</key>
                <string>{{539,1},{224,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerInfo_Gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{530,678},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerInfo_ID.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{560,672},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerInfo_Show.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{530,649},{27,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Remaining.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,40}</string>
                <key>spriteSourceSize</key>
                <string>{89,40}</string>
                <key>textureRect</key>
                <string>{{688,424},{89,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Settlement_Bout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,83}</string>
                <key>spriteSourceSize</key>
                <string>{78,83}</string>
                <key>textureRect</key>
                <string>{{755,139},{78,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Settlement_Gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,73}</string>
                <key>spriteSourceSize</key>
                <string>{70,73}</string>
                <key>textureRect</key>
                <string>{{639,302},{70,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Settlement_HomeWins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,86}</string>
                <key>spriteSourceSize</key>
                <string>{218,86}</string>
                <key>textureRect</key>
                <string>{{297,87},{218,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Settlement_OtherWins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,86}</string>
                <key>spriteSourceSize</key>
                <string>{218,86}</string>
                <key>textureRect</key>
                <string>{{155,325},{218,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Settlement_Word_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,71}</string>
                <key>spriteSourceSize</key>
                <string>{46,71}</string>
                <key>textureRect</key>
                <string>{{219,662},{46,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Settlement_Word_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,70}</string>
                <key>spriteSourceSize</key>
                <string>{32,70}</string>
                <key>textureRect</key>
                <string>{{810,219},{32,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Settlement_Word_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,68}</string>
                <key>spriteSourceSize</key>
                <string>{48,68}</string>
                <key>textureRect</key>
                <string>{{644,374},{48,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Settlement_Word_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,69}</string>
                <key>spriteSourceSize</key>
                <string>{48,69}</string>
                <key>textureRect</key>
                <string>{{562,528},{48,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Settlement_Word_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,75}</string>
                <key>spriteSourceSize</key>
                <string>{48,75}</string>
                <key>textureRect</key>
                <string>{{76,633},{48,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Settlement_Word_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,70}</string>
                <key>textureRect</key>
                <string>{{719,288},{47,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Settlement_Word_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,73}</string>
                <key>spriteSourceSize</key>
                <string>{44,73}</string>
                <key>textureRect</key>
                <string>{{271,279},{44,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Settlement_Word_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{685,634},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Settlement_Word_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,71}</string>
                <key>spriteSourceSize</key>
                <string>{47,71}</string>
                <key>textureRect</key>
                <string>{{689,515},{47,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Settlement_Word_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,74}</string>
                <key>spriteSourceSize</key>
                <string>{48,74}</string>
                <key>textureRect</key>
                <string>{{635,634},{48,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Settlement_Word_Less.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,22}</string>
                <key>spriteSourceSize</key>
                <string>{37,22}</string>
                <key>textureRect</key>
                <string>{{271,240},{37,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Settlement_Word_Plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,60}</string>
                <key>textureRect</key>
                <string>{{292,662},{44,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Time_Word_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{689,588},{43,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Time_Word_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{714,337},{43,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Time_Word_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{759,337},{43,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Time_Word_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{791,291},{43,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Time_Word_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{730,392},{43,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Time_Word_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{730,447},{43,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Time_Word_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{775,392},{43,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Time_Word_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{775,447},{43,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Time_Word_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{738,502},{43,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Time_Word_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{783,502},{43,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>E700_04.png</string>
            <key>size</key>
            <string>{847,709}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e64c48a50629f7ae67991133bea90b3:9a11e1222219d3f78eac71ae43f0de45:04868e7bf6814a053af8045febb8974e$</string>
            <key>textureFileName</key>
            <string>E700_04.png</string>
        </dict>
    </dict>
</plist>
