<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>P-ZD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,189}</string>
                <key>spriteSourceSize</key>
                <string>{137,189}</string>
                <key>textureRect</key>
                <string>{{643,1349},{137,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAI-dagui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAI-fk-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{1,288},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAI-fk-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{216,1},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAI-fk-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{1,575},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAI-heit-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{216,288},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAI-heit-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{431,1},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAI-heit-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{646,1},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAI-hongt-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{1,862},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAI-hongt-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{216,575},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAI-hongt-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{431,288},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAI-mh-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{646,288},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAI-mh-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{1,1149},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAI-mh-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{216,862},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAI-xiaogui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{431,575},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PKP-XZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{146,198}</string>
                <key>spriteSourceSize</key>
                <string>{150,202}</string>
                <key>textureRect</key>
                <string>{{643,1149},{146,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hei-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{791,1214},{50,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hei-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{51,63}</string>
                <key>spriteSourceSize</key>
                <string>{61,67}</string>
                <key>textureRect</key>
                <string>{{791,1149},{51,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hei-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,61}</string>
                <key>spriteSourceSize</key>
                <string>{42,63}</string>
                <key>textureRect</key>
                <string>{{782,1477},{40,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hei-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,63}</string>
                <key>spriteSourceSize</key>
                <string>{42,63}</string>
                <key>textureRect</key>
                <string>{{54,1498},{40,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{42,61}</string>
                <key>spriteSourceSize</key>
                <string>{42,63}</string>
                <key>textureRect</key>
                <string>{{383,1436},{42,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,61}</string>
                <key>spriteSourceSize</key>
                <string>{42,63}</string>
                <key>textureRect</key>
                <string>{{574,1475},{40,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{40,63}</string>
                <key>spriteSourceSize</key>
                <string>{42,63}</string>
                <key>textureRect</key>
                <string>{{119,1498},{40,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,61}</string>
                <key>spriteSourceSize</key>
                <string>{42,63}</string>
                <key>textureRect</key>
                <string>{{383,1480},{40,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,63}</string>
                <key>spriteSourceSize</key>
                <string>{42,63}</string>
                <key>textureRect</key>
                <string>{{184,1498},{40,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,63}</string>
                <key>spriteSourceSize</key>
                <string>{42,63}</string>
                <key>textureRect</key>
                <string>{{446,1433},{40,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{36,61}</string>
                <key>spriteSourceSize</key>
                <string>{46,61}</string>
                <key>textureRect</key>
                <string>{{257,1482},{36,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,61}</string>
                <key>spriteSourceSize</key>
                <string>{46,61}</string>
                <key>textureRect</key>
                <string>{{257,1436},{44,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hei-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,61}</string>
                <key>spriteSourceSize</key>
                <string>{50,61}</string>
                <key>textureRect</key>
                <string>{{791,1276},{48,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{50,66}</string>
                <key>textureRect</key>
                <string>{{54,1436},{50,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{51,63}</string>
                <key>spriteSourceSize</key>
                <string>{61,67}</string>
                <key>textureRect</key>
                <string>{{1,1436},{51,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{511,1433},{40,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hon-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{575,1433},{40,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hon-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{106,1436},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{782,1349},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{782,1413},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{152,1436},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PZ-hon-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{446,1475},{40,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hon-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,66}</string>
                <key>textureRect</key>
                <string>{{510,1475},{40,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hon-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{36,61}</string>
                <key>spriteSourceSize</key>
                <string>{46,61}</string>
                <key>textureRect</key>
                <string>{{320,1482},{36,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hon-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,61}</string>
                <key>spriteSourceSize</key>
                <string>{46,61}</string>
                <key>textureRect</key>
                <string>{{320,1436},{44,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PZ-hon-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,61}</string>
                <key>spriteSourceSize</key>
                <string>{50,61}</string>
                <key>textureRect</key>
                <string>{{194,1436},{48,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pai-beimian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,282}</string>
                <key>spriteSourceSize</key>
                <string>{210,282}</string>
                <key>textureRect</key>
                <string>{{431,1149},{210,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai-fankuai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{646,575},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai-heitao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{216,1149},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai-hontao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{431,862},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai-meihua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{215,325}</string>
                <key>textureRect</key>
                <string>{{646,862},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PKPZY.png</string>
            <key>size</key>
            <string>{860,1539}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7387133f5411de28ca786b25ad4d67f4:6bd3a9ecbe12f87a91694824e2b97920:c3e25a6ff6b97e3085f9cc9bc43f4e31$</string>
            <key>textureFileName</key>
            <string>PKPZY.png</string>
        </dict>
    </dict>
</plist>
